body{
    background-color: rgb(11, 11, 49);
    text-align: center;
}
.container{
    margin-top: 10%;
    font-size: 30px;
    background-color: rgb(202, 8, 8);
    margin-left: 25%;
    margin-right: 25%;
    height: 50%;
    
}
input{
    font-size: 30px;
}
button{
    background-color: green;

    font-size: 20px;
}
ol{
    text-align: left;
    line-height: 80px;
    background-color: rgb(0, 0, 255);
}